:root {
    /* ACHTERGROND */
    --eerste-kleur: white;
    /* NAVBAR & TEXT-KLEUR*/
    --tweede-kleur: #181314;
    /* BLOKKEN & HOOFDSTUKKEN*/
    --derde-kleur: #D2122E;
    /* FONT-TEXT */
    --fonttext: Tahoma, sans-serif;
}

/* SCROLLBAR WEG HALEN */
::-webkit-scrollbar {
    overflow: hidden;
}

/* VERANDER NAAR DARK-THEME */
.dark-theme {
    --eerste-kleur: #181314;
    --tweede-kleur: #D2122E;
    --derde-kleur: #D2122E;
}

/* BODY */
body {
    background-color: var(--eerste-kleur);
}


/* HEADER */
header {
    background-color: var(--tweede-kleur);
    padding-top:0.1em;
    padding-bottom: 0.1em;
    margin-bottom: 0.5em;
}

header a:hover {
    border-bottom: 3px solid white;
}

header nav ul {
    display: flex;
    align-items: center;
}

header nav li {
    list-style-type: none;
    padding-right: 1.5em;
}

header nav li a {
    color: var(--eerste-kleur);
    font-family:var(--fonttext);
    text-decoration: none;
}

header nav li button {
    background-color: var(--eerste-kleur);
    color: var(--tweede-kleur);
}


/* MAIN SECTION 1*/
Main section:nth-of-type(1) {
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(16em, 1fr));
    background-color: var(--derde-kleur);
}


/* MAIN SECTION 1 ARTICLE 1 H1 */
main section:nth-of-type(1) article:nth-of-type(1) h1{
    color: var(--eerste-kleur);
    font-family:var(--fonttext);
    text-align: center;
}


/* MAIN SECTION 1 ARTICLE 1 P */
main section:nth-of-type(1) article:nth-of-type(1) p{
    color: var(--eerste-kleur);
    font-family:var(--fonttext);
    text-align: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
}


/* MAIN SECTION 1 ARTICLE 2*/
main.home section:nth-of-type(1) article:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}


/* MAIN SECTION 1 ARTICLE 2 IMG */
main section:nth-of-type(1) article:nth-of-type(2) img {
    width: auto;
    height: 10em;
    padding-top: 1em;
}


/* MAIN ARTICLE 1 */ /* > = pakt de eerste article:nth-of-type(1) */
main.home >article:nth-of-type(1) {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}


/* MAIN ARTICLE 1 H1 */
main article:nth-of-type(1) h1{
    color: var(--derde-kleur);
    font-family: var(--fonttext);
}


/* MAIN ARTICLE 1 IMG */
main.home article:nth-of-type(1) img {
    width: auto;
    height: 10em;
    padding-top: 1em;
}


/* MAIN H2 */
main h2 {
    background-color: var(--derde-kleur);
    color: var(--eerste-kleur);
    font-family: var(--fonttext);
    padding: 0.5em;
}


/* MAIN SECTION:nth-of-type(2) */
main section:nth-of-type(2) {
    display: grid;
    grid-template-columns: auto auto;
    text-align: left;
    padding-bottom: 2em;
}

main section:nth-of-type(2) h3 {
    color: var(--tweede-kleur);
    font-family: var(--fonttext);
}

main section:nth-of-type(2) p {
    color: var(--tweede-kleur);
    font-family: var(--fonttext);
}

main section:nth-of-type(2) h3:hover {
    background-color: brown;
    color: #ab936b;
}


/* MAIN ARTICLE 2 */
main.home article:nth-of-type(2) p {
    color: var(--tweede-kleur);
    column-count: 2;
}

main.home article:nth-of-type(2) p:hover {
    animation-name: draaien;
    animation-duration:1s;
}

/* MAIN ARTICLE 3 */
main.home article:nth-of-type(3) {
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(16em, 1fr));
    gap: 1em;
}

main article:nth-of-type(3) iframe {
    width: 100%;
    aspect-ratio: 4/3;
}


/* FOOTER */
footer {
    display: flex;
    margin-top: 0.5em;
    justify-content: space-evenly;
    background-color: var(--derde-kleur);
    color: var(--eerste-kleur);
}

footer ul li {
    list-style-type: none;
    padding: 0.5em;
    font-family: var(--fonttext);
}

footer ul li a{
    color: var(--eerste-kleur);
    text-decoration: none;
}

footer a:hover{
    border-bottom: 2px solid white;
}


/* SHOP-PAGE */

/* HEADER SHOPPING CART LOGO*/
header nav ul li:nth-of-type(4) img {
    width: 2em;
}

/* SECTION 1 */
main.shop-page section:first-of-type {
    background-color: var(--eerste-kleur);
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: 1em;
}

/* SECTION 1 ARTICLE */
main.shop-page section:first-of-type article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main.shop-page section:first-of-type article h2{
    text-align: center;
    padding: 0.2em;
}

main.shop-page section:first-of-type article p{
    color: var(--tweede-kleur);
    font-family: var(--fonttext);
}

main.shop-page section:first-of-type article img{
    width: auto;
    height: 10em;
    padding-top:0;
}

main.shop-page section:first-of-type article button {
    width: 100%;
    height: 3em;
    background-color: var(--derde-kleur);
    border: 2px solid #ab936b;
    font-family: var(--fonttext);
}

main.shop-page section:first-of-type article button:hover {
    background-color: #ab936b;
    color: white;
}

/* SECTION 2 */
main.shop-page section:nth-of-type(2) {
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(16em, 1fr));
    text-align: center;
}

main.shop-page section:nth-of-type(2) article:hover {
    text-align: center;
    animation-name: inzoomen;
    animation-duration:1s;
}

main.shop-page section:nth-of-type(2) img {
    width: 100%;
    height: 10em;
}


/* SECTION 3 */
main.shop-page section:nth-of-type(3) {
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(16em, 1fr));
    text-align: center;
    gap: 2em;
    padding-top: 1em;
}

main.shop-page section:nth-of-type(3) img {
    width: auto;
    height: 10em;
}

main.shop-page section:nth-of-type(3) p {
    font-family: var(--fonttext);
    color: var(--tweede-kleur);
}

main.shop-page section:nth-of-type(3) article{
    border: 1px solid var(--tweede-kleur);
}

main.shop-page section:nth-of-type(3) article:hover {
    background-color: #ab936b;
}


/* ANIMATIES */
@keyframes draaien {
    0% {
      transform:rotate(0);
    }
    100% {
      transform:rotate(180deg);
    }
}

@keyframes inzoomen {
    0% {
      transform:scale(1);
    }
    100% {
      transform:scale(2);
    }
}