:root {
    /* ACHTERGROND */
    --eerste-kleur: white;
    /* NAVBAR */
    --tweede-kleur: #181314;
    /* BLOKKEN */
    --derde-kleur: #D2122E;
    /* TEXT-KLEUR */
    --vierde-kleur: #181314;
    /* FONT-TEXT */
    --fonttext: Tahoma, sans-serif;
}


/* SCROLLBAR WEG HALEN */
::-webkit-scrollbar {
    overflow: hidden;
}

/* VERANDER NAAR DARK-THEME */
.dark-theme {
    --eerste-kleur: #181314;
    --tweede-kleur: #D2122E;
    --derde-kleur: #D2122E;
    --vierde-kleur: #D2122E;
}

body {
    background-color: var(--eerste-kleur);
}


/* HEADER */
header {
    background-color: var(--tweede-kleur);
    padding-top:0.1em;
    padding-bottom: 0.1em;
    margin-bottom: 0.5em;
}

header a:hover {
    border-bottom: 3px solid white;
}

header nav ul {
    display: flex;
}

header nav li {
    list-style-type: none;
    padding-right: 1.5em;
}

header nav li a {
    color: var(--eerste-kleur);
    font-family:var(--fonttext);
    text-decoration: none;
}


/* MAIN SOCIAL */
.facebook {
    background: #3B5998;
    color: white;
}

.twitter {
    background: #55ACEE;
    color: white;
}
  
.youtube {
    background: #bb0000;
    color: white;
}

.icon-bar {
    position: fixed;
    bottom: 12em;
    right: 0;
    padding-bottom: 2em;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    color: white;
}


/* MAIN SECTION */
main section:nth-of-type(2) {
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(16em, 1fr));
    background-color: var(--derde-kleur);
    padding-top: 1em;
    padding-bottom: 1em;
}


/* MAIN SECTION ARTICLE */
main section article.schuiven img {
    width: auto;
    height: 10em;
    padding-left: 0.4em;
}

main section article h1 {
    color: var(--eerste-kleur);
    font-family:var(--fonttext);
    text-align: center;
}

main section article p {
    color: var(--eerste-kleur);
    font-family:var(--fonttext);
    text-align: center;
}

.schuiven {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}


/* MAIN ARTICLE 1 */
main article:nth-of-type(1).scrollen {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

main article:nth-of-type(1) {
    color: var(--derde-kleur);
    font-family:var(--fonttext);
}

main article:nth-of-type(1) p {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

main article.scrollen img {
    width: auto;
    height: 10em;
    padding-top: 1em;
}

/* MAIN H2 & SECTION 3 */
main h2 {
    background-color: var(--derde-kleur);
    color: var(--eerste-kleur);
    font-family: var(--fonttext);
}

main section:nth-of-type(3) h3 {
    color: var(--vierde-kleur);
    font-family: var(--fonttext);
}

main section:nth-of-type(3) p {
    color: var(--vierde-kleur);
    font-family: var(--fonttext);
}

main section:nth-of-type(3) h3:hover {
    background-color: brown;
    color: #ab936b;
    padding: 0.5em
}

/* MAIN ARTICLE 2 */
main article:nth-of-type(2).kolom {
    background-color: var(--derde-kleur);
}

#index-pagina main article:nth-of-type(2) p {
    color: var(--eerste-kleur);
    column-count: 2;
    padding: 0.5em;
}

/* MAIN ARTICLE 3 */
#index-pagina main article:nth-of-type(3) {
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(16em, 1fr));
    justify-content:space-evenly;
    gap: 1em;
}

main article:nth-of-type(3) iframe {
    width: 100%;
    aspect-ratio: 4/3;
}

/* FOOTER */
footer {
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(16em, 1fr));
    background-color: var(--derde-kleur);
    margin-top: 0.5em;
}

footer table {
    text-align: left;
}

footer table th {
    color: var(--eerste-kleur);
    font-family: var(--fonttext);
    padding: 1em;
}

footer table td {
    font-family: var(--fonttext);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding: 1em;
}

footer table td a {
    color: var(--eerste-kleur);
    text-decoration: none;
}

footer a:hover {
    border-bottom: 3px solid white;
}


/* ANIMATIE */
@keyframes shirt-animatie {
    0% {
    transform: scale(2);
    }

    100% {
    transform: scale(1);
    }
}

main article:nth-of-type(1).scrollen img:hover {
    animation-name: shirt-animatie;
    animation-duration: 1s;
}

@keyframes draai-animatie {
    0% {
      transform:rotate(0);
    }
    100% {
      transform:rotate(360deg);
    }
}

main article:nth-of-type(2).kolom p:hover {
    animation-name: draai-animatie;
    animation-duration:1s;
}


/* SHOP-PAGE */
#shop-page main h1 {
    background-color: var(--derde-kleur);
    color: var(--eerste-kleur);
    font-family: var(--fonttext);
    text-align: center;
}

#shop-page section:nth-of-type(2).scrollen {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap:2em;
    background-color: var(--eerste-kleur);
}

#shop-page section:nth-of-type(2) h2 {
    text-align: center;
}

#shop-page main article img {
    width: auto;
    height: 15em;
}

#shop-page section:nth-of-type(2) p {
    color: var(--vierde-kleur); 
}




