header h1 {
    --text-gradient:linear-gradient(
    to right, hsl(351, 84%, 45%), hsl(0, 0%, 0%));
    background-image:var(--text-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    font-size: 3em;
    font-family: sans-serif;
    text-align: center;
}

main {
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(16em, 1fr));
    gap:2.7em;
}

main article {
    text-align: center;
    font-family: sans-serif;
}

main ol li:nth-of-type(1) {
    color: red;
    display: flex;
}

main ol li:not(:first-of-type) p:hover {
    padding-left: 3em;
    color: white;
    background-color: red;
}

main ol li p {
    transition: 1s;
    transition-timing-function: cubic-bezier(.44,-0.01,.85,1.33);
}

main ol li button {
    margin-top: 0.7em;
    margin-left: 2em;
    height: 2.5em;

    border: none;
    color: white;
    background-image: linear-gradient(to right, red , black);
}

section {
    display:flex;
    flex-direction: row;
    /*De row scrollbaar maken*/
    overflow-x:scroll;
}

section article h2 {
    text-align: center;
    font-family: sans-serif;
    background-color: #181314;
    color: white;
    height: 2em;
    padding-top: 0.5em;
}